/*
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  display: none
}

.infoContainer {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #d3c090;
  font-size: 1.2em;
  font-family: 'Cormorant Unicase', serif;
  z-index: 4;
  background-image: url(headerDesign.svg)
}

.logo {
  background-image: url(logo-01.svg);
  background-repeat: no-repeat;
  background: contain;
  width: 10%;
  text-align: center;
}

.cardLogo {
  background-image: url(logo-01.svg);
  background-repeat: no-repeat;
  background: contain;
  width: 50%;
  height: 50%;
  margin: 37% auto;
}

h1 {
  margin: 0;
}

.main {
  grid-area: main;
}

.contactCard {
  position: absolute;
  background: seashell;
  font-family: 'Cormorant Unicase', serif;
  border-radius: 30px;
  border: 4px solid black;
  text-align: center;
  color: black;
  height: 50%;
  width: 60%;
  box-shadow: 2px 15px 58px black;
  top: 15%;
  left: 20%;
  z-index: 1
}

.card {
  position: absolute;
  background: seashell;
  font-family: 'Cormorant Unicase', serif;
  border-radius: 30px;
  border: 4px solid black;
  text-align: center;
  color: black;
  height: 50%;
  width: 60%;
  box-shadow: 2px 15px 58px black;
  top: 25%;
  left: 20%;
  z-index: 2
}

.currentCard {
  top: 35%;
  z-index: 3
}

.flipback {
  animation: flip 0.3s ;
}

.mobile-container div{
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
  background-color: rgba(255, 245, 238, 0.99);
  overflow: scroll;
  z-index: 5;
  font-size: 1.3em
}

.mobile-container h2 {
  font-family: 'Cormorant Unicase', serif;
}

.mobile-container h3 {
  font-family: cursive;
}

.mobile-active {
  display: none
}

.mobile-container div img {
  box-shadow: 1px 6px 25px black
}

.mobile-container p {
  padding: 5%
}

.mobile-container #rose {
  opacity: 0.3;
  height: 10%;
  display: block;
  margin: auto;
  box-shadow: none
}

.cardInnerBorder {
  width: 60%;
  height: 60%;
  margin: auto;
  border: 2px solid green;
  background: white
}

img {
  width: 70%;
  height: 30%
}

.close {
  font-size: 2em;
  position: fixed;
  top: 3%;
  right: 15%
}

@keyframes flip {
  --posY: 0;
  --rotX: 0;
  from {transform: translateY(var(--posY)px) rotateX(var(--rotX)deg); z-index: 3}
  to {transform: translateY(-19%) rotateX(0deg); z-index: 1}
}

/*
  adding margin for the header to center logo go larger screens
*/

@media only screen and (min-width: 500px){

}
/*
  desktop layout
*/

@media only screen and (min-width: 769px){

  .grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main';
    grid-template-rows: 20% 80%;
    margin: 0;
  }

  .header {
    position: static;
    width: 100%;
    height: 100%;
    grid-area: header;
    background-color: #350D1B;
    box-shadow: 1px 5px 20px black;
    font-size: 2.3em;
    z-index: 0;
  }

  h1 {
    margin: auto 1%
  }

  .logo {
    width: 10%;
  }

  .main {
    display: grid;
    grid-template-columns: 25% auto
  }

  .card {
    display: none
  }

  nav {
    display: block;
    box-shadow: 10px 20px 15px black;
    border-right: 2px solid black;
    text-align: center;
    background: #350D1B;
    z-index: 2;
    position: relative;
    background-image: url(navbarbackground.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  nav p {
    color: black;
    width: 90%;
    margin: 20% auto;
    font-size: 2em;
    border: 2px solid black;
    position: relative;
    z-index: 2;
    border-radius: 90px;
    background: white;
    box-shadow: 1px 1px 8px black;
    transition: 1s;
    background-image: linear-gradient(to left, black -32%, white 22%);
  }

  /*
    using transition for the animation way more efficient than with keyframes
  */

  nav p:hover {
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
  }

  .infoContainer {
    font-size: 1.5em;
    display: block;
    text-align: center;
    overflow: scroll;
    padding: 0 8%;
    background-image: url('floralbackground.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .infoContainer h2 {
    font-size: 2em;
    font-family: 'Cormorant Unicase', serif;
    text-decoration: underline;
  }

  .infoContainer h3 {
    font-size: 1.4em;
    font-family: 'Comic Sans MS', serif;
  }

  .infoContainer img {
    box-shadow: 0 6px 25px black;
    width: 40%;
  }

  .projects, .about, .contact, .contactCard{
    display: none;
    opacity: 0;
  }

  .transition {
    display: block;
    opacity: 1;
    animation: fadein 1s forwards;
    overflow: initial;
    height: 100vh;
  }

  .transition #rose {
    opacity: 0.3;
    height: 10%;
    display: block;
    margin: auto;
  }

  #rose {
    box-shadow: none;
    display: none;
  }

  img {
    width: 30%;
  }

  input, textarea, button{
    border: 3px solid black;
    display: block;
    margin: 5% auto;
  }

  form button {
    width: 10%;
    height: 30px
  }

  #mobile-container {
    display: none
  }

  @keyframes fadein {
    from {opacity: 0};
    to {opacity: 1}
  }

  @keyframes fadeout {
    from {opacity: 1};
    to {opacity: 0}
  }

}
