
html, body {
  height: 100%;
  width: 100%;
  margin: 0
}

header {
  height: 20%;
  width: auto;
  background: lightgreen;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 0 black;
}

h1 {
  margin: 0;
  font-size: 8em;
  font-family: Luminari
}

p {
  font-size: 4em
}

.card {
  background: lightgreen;
  border-radius: 60px;
  margin: auto;
  text-align: center;
  font-size: 3em;
  color: white;
  height: 60%;
  width: 60%;
}

.requested-page {
  display: none
}

article p {
  font-size: 1em
}
